<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    <div class="home-pink vertical-center">
      <div class="background text pink">
        {{bodyMsg}}
      </div>
      <p>
        This page was generated at <strong>{{serverTime}}</strong> by a user in {{city}}, {{country}} (with IP address: {{ip}}) using a {{vendor}} {{device}} running {{family}}. 
      </p>
    </div>
  </body>
</html>
